@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Merriweather", serif;
}

.header {
  width: 82%;
  max-width: 1320px;
  margin: 0 auto;
}
/* first banner */
.container-all {
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.3) 100%),
    url("./images/Banner Image.png");
  margin: 50px auto;
  display: flex;
  align-items: center;
}

.container-all .header .header-Content {
  text-align: center;
  width: fit-content;
  margin: auto;
}

.container-all .header .header-Content h4 {
  color: #fff;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.container-all .header .header-Content h2 {
  width: 632px;
  color: #fff;
  font-size: 72px;
  font-style: normal;
  font-weight: 900;
  line-height: 95px;
}

/* 65% OFF section */
.container .holiday-deals {
  text-align: center;
  margin-top: 120px;
}

.container .holiday-deals h1 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.container .holiday-deals h4 {
  color: #f00;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 45px 0px 15px 0;
}

.container .holiday-deals h2 {
  color: #070211;
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0px 0px 45px 0px;
}

.container .holiday-deals img {
  width: 802.9px;
  height: 500px;
}
/* party section */
main .Welcome {
  width: 1320px;
  height: 600px;
  flex-shrink: 0;
  border-radius: 16px;
  background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
    url("../images/Vectorrr.png");
  background-repeat: no-repeat;
  margin: 120px auto;
  display: flex;
  align-items: center;
}

main .Welcome .container {
  display: flex;
  align-items: center;
}
.WelcomeSection {
  margin-left: 140px;
}

.title-h {
  width: 642px;
  color: #fff;

  font-size: 64px;
  font-style: normal;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 7.04px;
}

.title-para {
  width: 697px;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
}

.btn-joinnow {
  padding: 16px 32px;
  align-items: center;
  color: #fff;
  text-align: center;
  font-family: "Inter", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  background-color: transparent;
  border: none;
}

/* portfolio*/

.portfolio {
  display: flex;
  margin-top: 70px;
  margin-left: 140px;
}
.gift-title {
  color: #f00;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.para-b {
  color: #070211;
  font-family: Merriweather;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 20px;
}
.para-s {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin-top: 20px;
  margin-bottom: 20px;
}
/* newsletter */

.newsletter {
  text-align: center;
  margin: 120px auto;
  width: 1320px;
  height: 616px;
  flex-shrink: 0;
  border-radius: 16px;
  background: rgba(255, 0, 0, 0.05);
}

.newsletterContent img {
  width: 150px;
  height: 150px;
  flex-shrink: 0;
  margin-top: 60px;
}

.newsletterContent h2 {
  color: #070211;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  text-transform: capitalize;
  margin: 40px 0px 22px 0px;
}

.newsletterContent p {
  width: 896px;
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  margin: 0px auto 48px auto;
}

.newsletterContent .Subscribe {
  display: flex;
  width: 648px;
  margin: auto;
}

.newsletterContent .Subscribe input {
  width: 648px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 50px;
  background: #fff;
  border: #fff;
  color: rgba(7, 2, 17, 0.3);
  text-align: left;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px 20px 0px 20px;
}

.newsletterContent .Subscribe button {
  width: 210px;
  height: 72px;
  flex-shrink: 0;
  border-radius: 0px 50px 50px 0px;
  background: #f00;
  border: #f00;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  text-transform: capitalize;
  transform: translate(-210px, 0px);
}
